
@font-face {
    font-family: 'bnazanin';
    src: url('BNazanin.eot') format('eot'), url('BNazanin.woff') format('woff'), url('BNazanin.ttf') format('truetype');
}


body {
  direction: rtl;
  line-height: 1;
}

.div-wrapper {
    position: relative;
    height: 150px;
    width: 300px;
}

.div-wrapper img {
    position: absolute;
    left: 150px;
    bottom: -200px;
}

.container{
    margin-top:200px;
    padding-right:800px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}

